{% extends "home/base.html"%}
{% load crispy_forms_tags %}

{% block content %}
<!-- {{ booking_list }} -->
    <div id="booking-form">
    <form method="POST">
        {% csrf_token %}
        <div>{{ form.table | as_crispy_field }}</div>
        <div>{{ form.date | as_crispy_field }}</div>
        <div>{{ form.time | as_crispy_field }}</div>

        <div class="form-group">
            <button class="btn btn-dark" type="submit">Book</button>
        </div>
    </form>
    </div>
    <div id="booking-link">
    <a class="nav-link mt-1 mb-1 btn btn-dark" href="{% url 'user-bookings'%}">Manage Bookings</a>
    </div>
{% endblock content%}