{% extends "home/base.html"%}
{% load crispy_forms_tags %}

{% block content %}

{{ booking_list }}
    <div id="booking-form">
    <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="form-group">
            <button class="btn btn-dark" type="submit">Book</button>
        </div>
    </form>
    </div>
    <div id="booking-link">
    <a class="nav-link mt-1 mb-1 btn btn-dark" href="{% url 'user-bookings'%}">Your Bookings</a>
    </div>
{% endblock content%}