{% extends "home/base.html"%}
{% block content %}
<h2>Your Bookings</h2> 
{% if user_bookings|length > 0 %}
    {%for booking in user_bookings%}
        <div class="mt-1 mb-1">
            <h6 id="booking-name"> Booking Name: {{ booking.username }}</h6>
            <a id="booking-details" href="{% url 'booking-details' booking.id %}"><p> Table for {{booking.table}}|{{booking.date}}|{{booking.time}}</p></a>
            </div>
        </div>
    {% endfor %}
{% else %} 
    <p>You do not have any bookings to your name</p>
{% endif %}
{% endblock content %}