{% extends "home/base.html"%} {% load crispy_forms_tags %} {% block content %}
<div id="booking-form">
  <form action="#" method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="borer-bottom mb-4">Login</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-dark" type="submit">Login</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Need an account?
      <a class="ml-2" href="{% url 'gossip-register'%}">Register Now</a>
    </small>
  </div>
</div>

{% endblock content %}
