{% extends "home/base.html"%} {% block content %}
<div class="about">
  <h3 id="about">A bit about us!</h3>
  <p id="about-text">
    Welcome to gossip & dine. We are a small family run malaysian street food
    cafe in Manchester. Here you have a chance to enjoy authentic malaysian
    street food and beverages. You will be charmed by the rich aroma of our
    freshly cooked food, brewed coffee, and tantalizing fragrance of our spices.
    We cook every meal from out heart to show our love for the authentic food
    and customers who dear it very much. Here is a place where one can rest
    one's weary feet and embrace the joys of malaysia.
  </p>
</div>
{% endblock content %}
